
 <link rel="stylesheet" href="/public/css/navigation.css">

<ul hidden id="nav">
  <li><a class="fill-div fancybox.ajax" href="/about"> About </a></li>
  <li><a class="fill-div fancybox.ajax" href="/cv"> Resume </a></li>
  <li><a class="fill-div" href="https://nz.linkedin.com/in/sriramvenkatesh/"> Linkedin </a></li>
  <li><a class="fill-div" href="https://www.twitter.com/srizzling"> Twitter </a></li>
  <li><a class="fill-div fancybox.ajax" href="/projects"> Projects </a></li>
  <li><a class="fill-div" href="https://www.github.com/srizzling"> Github </a></li>
</ul>



<div id="circle-nav">
    <div id="center">
      <img id="profile" src="/public/images/me.jpg" class="img-circle">
    </div>
</div>

 <script src="/public/js/nav.js"></script>
